@using Dotnettency;

@{
    ViewData["Title"] = "Home Page";
}
@inject Tenant tenant;
@inject TenantShellAccessor<Tenant> tenantShellAccessor;

<div class="row">

    @if (tenantShellAccessor.CurrentTenantShell.Value.Result == null)
    {
        <h1>ATTENTION - Doesn't look pretty?</h1>
        <p>
            This tenant is an example of a tenant with a NULL tenant shell.
            This means that it doesn't have any Tenant services initialised such as a Container or a Middleware Pipeline (the TenantShell is required for such services.)
            In essence it means that the Tenant is not "running". In this sample, we have included StaticFiles middleware in the Tenant's middleware pipeline, which requires a Tenant Shell.
            So this means for this tenant StaticFiles middleware won't run. For an example of a NULL tenant that DOES have a tenant shell, <a href="http://localhost:5002/">Browse on Port 5002</a>
        </p>

    }
    @if (tenant != null)
    {
        <h1>Current Tenant: @tenant?.Name</h1>
    }
    else
    {
        <h1>There is NO CURRENT TENANT!</h1>
    }

</div>

<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        <ul>
            <li>dotnettency for multitenancy.</li>
            <li>Sample pages using ASP.NET Core MVC</li>

        </ul>
    </div>
    <div class="col-md-3">
        <h2>Tenants</h2>
        <ul>
            <li>
                Bar
                <ul>
                    <li><a href="http://localhost:5000/">Browse on Port 5000</a></li>
                    <li><a href="http://localhost:5001/">Browse on Port 5001</a></li>
                </ul>
            </li>
            <li>
                Foo
                <ul>
                    <li><a href="http://localhost:5004/">Browse on Port 5004</a></li>
                </ul>
            </li>
            <li>
                Null Tenant (with Tenant Shell)
                <ul>
                    <li><a href="http://localhost:5002/">Browse on Port 5002</a></li>
                </ul>
            </li>
            <li>
                Null Tenant (Null TenantShell - ie no tenant middleware pipeline or anything. Will keep attempting to resolve tenant on each request). Note StaticFiles is added as tenant middleware in this sample so browsing this tenant wont have static files.
                <ul>
                    <li><a href="http://localhost:5003/">Browse on Port 5003</a></li>
                </ul>
            </li>
        </ul>
    </div>

</div>
